[epiloque_ec]
name=epiloque_ec
baseurl=https://packagecloud.io/epiloque/ec/el/7/$basearch
repo_gpgcheck=1
gpgcheck=1
enabled=1
gpgkey=https://packagecloud.io/epiloque/ec/gpgkey
       https://epiloque.github.io/packaging.pub
sslverify=1
sslcacert=/etc/pki/tls/certs/ca-bundle.crt
metadata_expire=300

[epiloque_ec-source]
name=epiloque_ec-source
baseurl=https://packagecloud.io/epiloque/ec/el/7/SRPMS
repo_gpgcheck=1
gpgcheck=1
enabled=1
gpgkey=https://packagecloud.io/epiloque/ec/gpgkey
       https://epiloque.github.io/packaging.pub
sslverify=1
sslcacert=/etc/pki/tls/certs/ca-bundle.crt
metadata_expire=300
