[escapace_stack]
name=escapace_stack
baseurl=https://packagecloud.io/escapace/stack/el/7/$basearch
repo_gpgcheck=1
gpgcheck=1
enabled=1
gpgkey=https://packagecloud.io/escapace/stack/gpgkey
sslverify=1
sslcacert=/etc/pki/tls/certs/ca-bundle.crt
metadata_expire=300

[escapace_stack-source]
name=escapace_stack-source
baseurl=https://packagecloud.io/escapace/stack/el/7/SRPMS
repo_gpgcheck=1
gpgcheck=1
enabled=1
gpgkey=https://packagecloud.io/escapace/stack/gpgkey
sslverify=1
sslcacert=/etc/pki/tls/certs/ca-bundle.crt
metadata_expire=300

